.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 100vh;
  width:100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1em;
  }

  .icon {
    font-size: 30px;
  }
}
@media screen and (min-width: 750px) {
  h1 {
    font-size: 1.5em;
  }

  .icon {
    font-size: 40px;
  }
}

.scroll {
  overflow-y: scroll;
  height: 100vh;
  max-height: 100%;
}

.icon {
  font-size: 2em;
  color: white;

}



.icon:hover {
  color:grey;
  cursor: pointer;
}

h3 {
  color: white;
}

h1 {
  margin: auto;
  color: white;
}

nav {
  align-items: center;
  display: flex;
  background: black;
  padding: 10px;
}
.menu {
  width: 375px;
  height:100%;
  background-color: white;
  transition: all 1s ease;
  display: none;
  max-width: 100%;
}
#app {
  display:flex;
}

i.fas.fa-bars {
  padding: 10px;
}

input#search {
  margin: 30px 20px 0 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.4em;
}
ol.venueList {
  padding-left:0;
  margin-bottom:0;
}

li.listItem {
  list-style: none;
  color: white;
  padding: 10px;
  box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.64);
  background: black;
  margin: 8px;
  display: flex;
  align-items: center;
}

li.listItem:hover {
  background: grey;
  cursor: pointer;
}

li.listItem:focus {
  background: dimgrey;
  outline: none;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}


/* Styles for footer */

footer {
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: black;
  text-align: center;
}

#par-footer {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    display: inline;
    line-height: 60px;
}

#power-footer {
    display: inline;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    color: white;
}
